SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-here
BACKEND_DEBUG_MODE=0 # or 1
DATABASE_URL=your-database-url-any-type-of-sql
BACKEND_ALLOWED_ORIGINS=comma-separated-http-urls

VALID_ADMIN_EMAILS=comma-separated-emails