SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-here
PRODUCTION=1 # or 0
DATABASE_URL=your-postgres-database
BACKEND_ALLOWED_ORIGINS=comma-separated-http-urls

VALID_ADMIN_EMAILS=comma-separated-emails